{% load static %}
<!doctype html>
<html lang="en">

<head>
  <title>Roumpini Resources</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/main.css' %}" />

  <!-- FONTS -->
  <link
    href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Robotos:wght@400;700;900&display=swap"
    rel="stylesheet">
</head>

<body>

  <div class="main-banner">
    <nav class="navbar navbar-expand-lg navbar-light bg-light top-navbar">
      <div class="container">

        <a class="navbar-brand" href="#">

          <div style="height: 100px;">
            <img src="{% static 'image/roumpinilogo.png' %}" height="100%" />
          </div>

        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
          aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0 navbar-content">
            <li class="nav-item nav-content-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item nav-content-item" id="move-link">
              <a class="nav-link" href="#about">About</a>
            </li>
            <li class="nav-item nav-content-item" id="move-link">
              <a class="nav-link" href="#services">Services</a>
            </li>
            <li class="nav-item nav-content-item" id="move-link">
              <a class="nav-link" href="#teams">Team</a>
            </li>
            <li class="nav-item nav-content-item" id="move-link">
              <a class="nav-link" href="#contact">Contact</a>
            </li>
            <li class="nav-item nav-content-item" id="move-link">
              <a class="nav-link" href="#">Blog</a>
            </li>
          </ul>

        </div>
      </div>
    </nav>
    <div class="banner-parent">
      <div class="banner-content">
        <div>
          <div class="banner-content-main">
            <h2 class="banner-content-header">Grow your business and support your team.</h2>
            <p class="banner-content-subheader">Supporting businesses and the people who drive them..</p>
            <a class="banner-cta" href="#contact">
              Contact now
            </a>
          </div>
          <div class="banner-logos">
            <img src="{% static 'image/Rochester-logo1-2.png' %}" alt="" class="banner-logo-single" width="55">
            <img src="{% static 'image/union-diagnostic.png' %}" alt="" class="banner-logo-single" width="65">
            <img src="{% static 'image/cropped-Wemy-Logo-Menu-Bar-3.png' %}" alt="" class="banner-logo-single" width="85">
            <img src="{% static 'image/Cedar-Hive-White-01-01-1-e1575379127722.png' %}" alt="" class="banner-logo-single" width="130">
          </div>
        </div>
      </div>
      <div class="banner-image">
        <div class="banner-holder">
          <img src="{% static 'image/bg-banner.jpg' %}" class="banner-img-main" />
        </div>
      </div>
    </div>
  </div>
  <div class="rectangle who-we-are" id="about">
    <div class="container about">
      <div>
        <img src="{% static 'image/Man.png' %}" class="who-we-are-img" />
      </div>
      <div class="Roumpini">
        <h6 class="small-header-red small-header">Welcome</h6>
        <h3 class="gen-main-header">Who we are?</h3>
        <p class="gen-main-body">Roumpini Resources is a front line firm with best practice standards</br>
          with our services in outsourcing/recruitment, protocol management and training. </br>
         Our clients benefit from the best thinking to the most responsive
          human capital consultancy.
        </p>
        <div class="small-header-red cta-text">
         <a href="#contact"> Speak to us
          <img src="{% static 'image/left-arrow.svg' %}" /></a>
        </div>
      </div>
    </div>
  </div>
  <div class="square">
    <div class="container">
      <div class="text-center session-header pt-5">
        <h6 class="small-header-red small-header">Our values </h6>
        <h3 class="gen-main-header">What defines us</h3>
      </div>
      <div class="resources pt-5 pb-5">
        <div class="card">
          <div class="card-body">
            <div class="card-img-holder">
              <img src="{% static 'image/integrity.svg' %}" alt="" class="card-img">
            </div>
            <h3 class="card-title">Integrity</h3>
            <p class="card-text">Our integrity fosters trust</br>
              in the quality of our work..
            </p>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <div class="card-img-holder">
              <img src="{% static 'image/excellence.svg' %}" alt="" class="card-img">
            </div>
            <h3 class="card-title">Excellence</h3>
            <p class="card-text">We Inspire people to give </br>
               their best..
            </p>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <div class="card-img-holder">
              <img src="{% static 'image/result-d.svg' %}" alt="" class="card-img">
            </div>
            <h3 class="card-title">Result Driven</h3>
            <p class="card-text">We Invest time and resources</br>
              so people can excel..
            </p>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <div class="card-img-holder">
              <img src="{% static 'image/knowledge.svg' %}" alt="" class="card-img">
            </div>
            <h3 class="card-title">Knowledge</h3>
            <p class="card-text">We celebrate new and fresh approaches to</br>
              present clients with clear advantages..
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="container services" id="services">

      <div class="services-main">
        <div class="outsourcing">
          <div class="services-main-header">
            
            <h3 class="gen-main-header"> What we offer</h3>
          </div>

          <div class="offer-single-holder">
            <div class="offer-single offer-single-active" id="offer-1">
              <img src="{% static 'image/correct.svg' %}" alt="" class="offer-single-img">
              <p class="offer-single-text">Outsourcing</p>
            </div>
          </div>

          <div class="offer-single-holder">
            <div class="offer-single" id="offer-2">
              <img src="{% static 'image/correct.svg' %}" alt="" class="offer-single-img">
              <p class="offer-single-text">Learning and Development</p>
            </div>
          </div>

          <div class="offer-single-holder">
            <div class="offer-single" id="offer-3">
              <img src="{% static 'image/correct.svg' %}" alt="" class="offer-single-img">
              <p class="offer-single-text">Recruitment and Executive Search</p>
            </div>
          </div>

          <div class="offer-single-holder">
            <div class="offer-single" id="offer-4">
              <img src="{% static 'image/correct.svg' %}" alt="" class="offer-single-img">
              <p class="offer-single-text">Immigration Consultancy and Protocol Management</p>
            </div>
          </div>
        </div>

        <div class="offer-single-content">

        </div>
      </div>

    </div>
  </div>
  <div class="how-we-work-section">
    <div class="container how-we-work-inner">
      <div class="how-work-header">
        <p class="text-center small-header-red small-header">How we work</p>
        <h3 class=" text-center gen-main-header">Our Approach To HR Recruitment </h3>
      </div>
      <div class=" text-center how-we-work-main">
        <div class="how-we-work-content">
          <div class="how-work-left-parent how-work-width">
            <h6 class="gen-main-header">Definition of Client’s needs & Expectation</h6>
              <ul style="list-style-type:disc;">
                <li>Obtain a precise understanding of clients expectations.</li> 
                <li>Define the profile description.</li>
              </ul>
          </div>
          <div class="how-work-left-parent how-work-width">
            <h6 class="gen-main-header">Advertising & Sourcing through
              targeted attraction channels</h6>
              <ul style="list-style-type:disc;">
                <li>Professional and social networking</li> 
                <li>Advertising in regional press & online</li>
              </ul>
          </div>
        </div>

        <div class="how-we-work-img">
          <img src="{% static 'image/approach.jpg' %}" alt="alt" class="how-middle-img">
        </div>

        <div class="how-we-work-content">
          <div class="how-work-right-parent how-work-width">
            <h6 class="gen-main-header">Candidate Selection</h6>
            <ul style="list-style-type:disc;">
              <li> Evaluation of the candidates through phone, face-to-face or digital platform interview;</li>
              <li> Assessments and test (technical and psychometric)</li>
            </ul>
          </div>
          <div class="how-work-right-parent how-work-width">
            <h6 class="gen-main-header">Candidate Submission</h6>
            <ul style="list-style-type:disc;">
              <li>Presentation of each candidate to the client with CV</li>
              <li>Debrief of the interviews and eventual test results.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <section class="team-section" id="teams">
    <div class="container">
      <div class="text-center team-header">
        <h3 class="gen-main-header">Our Team</h3>
      </div>

      <div class="team-main">
        <div class="team-main-holder" id="team-1">
          <img src="{% static 'image/lara.png' %}" alt="" class="team-img">
          <p class="team-name">Omolara Norman</p>
          <div class="team-role-img">
            <h2 class="team-role">Lead Consultant</h2>
            <!-- <a href="#" class="team-social-link">
              <img src="{% static 'image/linkedin.svg' %}" alt="" class="team-social-icon">
            </a> -->
          </div>
        </div>
        <div class="team-main-holder" id="team-3">
          <img src="{% static 'image/manu-replace.jpeg' %}" alt="" class="team-img circular-image">
          <p class="team-name">Emmanuel Faith</p>
          <div class="team-role-img">
            <h2 class="team-role">Associate Consultant</h2>
            <!-- <a href="#" class="team-social-link">
              <img src="{% static 'image/linkedin.svg' %}" alt="" class="team-social-icon">
            </a> -->
          </div>
        </div>

      </div>
    </div>

    <div class="team-modal">
      <div class="team-modal-content-holder">
        <div class="close-x">X</div>
        <div class="team-modal-content">

        </div>
      </div>
    </div>
  </section>

  <footer class="footer-section" id="contact">
    <div class="container">
      <div class="request-card">
        <h2 class="contact-content">We work together with industry experts in their fields to offer you all-in-one
          solutions and starting points for your own solutions</h2>
        <button class="banner-cta contact-cta">Get In Touch</button>
      </div>

      <div class="footer-main">
        <div>
          <img src="{% static 'image/roumpinilogo.png' %}" alt="" class="footer-logo">
        </div>
        <div>
          <p class="footer-main-header">Company</p>
          <ul class="footer-main-ul">
            <a href="#" class="footer-main-li-link">
              <li>Home</li>
            </a>
            <a href="#about" class="footer-main-li-link">
              <li>About</li>
            </a>
            <a href="#services" class="footer-main-li-link">
              <li>Services</li>
            </a>
            <a href="#teams" class="footer-main-li-link">
              <li>Team</li>
            </a>
            <a href="#contact" class="footer-main-li-link">
              <li>Contact us</li>
            </a>
          </ul>
        </div>
        <div>
          <p class="footer-main-header">Contact</p>
          <div>
            <p class="footer-address-phone">Herbert Maculay Way Yaba Lagos</p>
            <p class="footer-address-phone">+2348172165751</p>
          </div>
        </div>
        <div>
          <a href="" class="footer-email">hello@roumpiniresource.com</a>
          <div class="footer-social">
            <a href="" class="footer-social-single">
              <img src="{% static 'image/facebook.svg' %}" alt="">
            </a>
            <a href="" class="footer-social-single">
              <img src="{% static 'image/twitter.svg' %}" alt="">
            </a>
            <a href="https://instagram.com/roumpini.resources?igshid=44aeejexqwgm" class="footer-social-single">
              <img src="{% static 'image/instagram.jpeg' %}" height="20px" width="20px" alt="">
            </a>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <div class="contact-modal">
    <div class="contact-modal-main">
      <div class="close-form">X</div>
      <div>
        <form action="{% url 'messenger' %}" method="POST">
          {% csrf_token %}
          <div class="form-field-single">
            <label for="name" class="form-label">Full name</label>
            <input type="text" name="name" class="form-input name">
          </div>

          <div class="form-field-single">
            <label for="email" class="form-label">Email</label>
            <input type="text" name="email" class="form-input email">
          </div>

          <div class="form-field-single">
            <label for="phone" class="form-label">Phone number</label>
            <input type="text" name="phone" class="form-input phone">
          </div>

          <div class="form-field-single">
            <label for="message" class="form-label">Message</label>
            <textarea name="message" id="" cols="30" rows="5" class="form-textarea"></textarea>
          </div>

          <div>
            <input type="submit" value="Let's Talk" class="banner-cta form-submit-btn">
          </div>
        </form>
      </div>
    </div>
  </div>


  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->


  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <script src="{% static 'javascripts/jquery.easing.1.3.js' %}"></script>
  <script src="{% static 'javascripts/script.js' %}"></script>
  <script>window.jQuery || document.write('<script src="js/vendor/jquery-3.2.1.min.js"><\/script>')</script>

  <script>

    $(document).ready(() => {

      // WHAT WE OFFER SELECT
      let offerSelect = id => {
        switch (id) {
          case 'offer-1':
            return (null
              // $("<img src=\"{% static 'image/outsourcing.jpg' %}\"><p>HR Outsourcing Services (Interim HR Managers)</p>").appendTo('.offer-single-content')
            )
          case 'offer-2':
            return ( null
              // $("<img src=\"{% static 'image/learnin.jpg' %}\" height=400 width=400><p><ul><li>Define learning and development strategy and related programmes appropriate for your organisation.</li><li>Design, develop and implement competency skills and knowledge frameworks</li><li>Facilitate management retreat programmes </li><li>Organise seminars, workshops & conferences/forums, special events</li></ul></p>").appendTo('.offer-single-content')
            )
          case 'offer-3':
            return null //($("<img src=\"{% static 'image/recruit.jpg' %}\"><ul><li>Executive Search Services</li><li>E-Recruitment / CV Handling / Mass Recruitment</li><li>Resume / Certificate Verification</li><li>Reference Checking</li><li>Integrity Due Diligence</li></ul>").appendTo('.offer-single-content'))
          case 'offer-4':
            // return ($("<img width=400 height=400 src=\"{% static 'image/immigration.jpg' %}\"><ul><li>Processing of all classes of Visas</li><li>Processing / Renewal / Additions of Quota Approval</li><li>Regularisation of Visa</li><li>General itinerary advisory</li><li>Hotel and Flight Reservations both international and local</li><li>Protocol services (Meet & Greet): Aiding immigration process at the airport upon arrival of guest(s).</li></ul>").appendTo('.offer-single-content'))
          default:
            return ( null
              // $("<img src=\"{% static 'image/outsourcing.jpg' %}\"><p>HR Outsourcing Services (Interim HR Managers)</p>").appendTo('.offer-single-content')
            )
        }
      }

      offerSelect();

      let teamContent = id => {

        switch (id) {
          case 'team-1':
            return (
              $('<div>Omolara Norman is an Experienced Human Resource Professional with over 10 years’ experience. Her diverse interdisciplinary skills have been laid to bare in how she solves a personnel-related most difficult problem</div>').appendTo('.team-modal-content')
            )
          case 'team-2':
            return (
              $('<div>Mr. Segun-Niyi Adedoyin holds a Bachelor of Science Degree in Botany from University of Ilorin, Nigeria. He is a seasoned consultant with over seventeen years of experience in medium and largescale industries. Segun-Niyi has worked and consult for various organizations such as manufacturing, financial services, training, consulting, construction and oil &amp; gas industries.</div>').appendTo('.team-modal-content')
            )
          case 'team-3':
            return (
              $('<div>A Proficient Human Resource professional with core competencies that cut across Recruitment and Selection, Workforce Planning, Organization Design, Payroll Management and Talent Management. Emmanuel will utilise his skills and capacity in enhancing the organisation’s productivity.</div>').appendTo('.team-modal-content')
            )
        }

      }

      let allOffering = $('.offer-single').get();

      $('.offer-single').click(function () {

        // REMOVE ALL ACTIVE
        allOffering.map(singleOffering => {
          $(singleOffering).removeClass('offer-single-active')
        })

        $(this).addClass('offer-single-active');

        // REMOVE ALL APPEND OFFER CONTENT
        $('.offer-single-content').empty();

        // APPEND NEW VALUE
        offerSelect($(this).attr('id'))

      })

      // HANDLE TEAM MODAL
      $('.team-main-holder').click(function () {

        console.log("CLICKED");


        // MAKE MODAL VISIBLE
        // $('.team-modal').show('slow');
        $('.team-modal').fadeIn(300);
        $('.team-modal').css('display', 'flex');

        // REMOVE ALL CONTENT
        $('.team-modal-content').empty()

        // 
        teamContent($(this).attr('id'))

      })

      // HIDE TEAM MODAL
      $('.close-x').click(function () {
        $('.team-modal').fadeOut(200);
      })

      // SHOW CONTACT US MODAL
      $('.contact-cta').click(function () {

        // DISPLAY MODAL
        $('.contact-modal').fadeIn(300);
        $('.contact-modal').css('display', 'flex')
      })

      // CLOSE MODAL
      $('.close-form').click(function () {
        $('.contact-modal').fadeOut(200);

      })

    })



  </script>
</body>

</html>